.main_container{
    width: 30%;
    height: auto;
    border: 1px dashed rgb(105, 105, 105);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin: 60px auto;
    background-color: rgb(173, 142, 201);
}

.newTask{
    width: 80px;;
    border-radius: 20%;
    background-color: rgb(173, 142, 201);
}

.addTask{
    background-color: rgb(110, 73, 151);
    border-style: none;
    border-radius: 5px;
    color: white;
    height: 30px;
    width: 80px;
    margin: 5px;
}

.list{
    width: 65%;
    height: auto;
    margin: 30px auto;
    border-radius: 15px;
    /* border: 1px dashed #b9b9b9; */
    background-color: rgb(244, 236, 250);
    display: flex;
    justify-content: flex-start;
}

.close{
    text-decoration: line-through;
}

